body {
}
/*------------user master maodal------*/
@media screen and (max-width: 1200px) and (min-width: 600px) {
    .w3-modal-content {
        width: 500px !important;
    }
}

@media screen and (max-width: 500px) and (min-width: 200px) {
    input {
        overflow: visible;
        width: 100%;
    }

    .header {
        overflow: hidden;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px 0px, rgba(0, 0, 0, 0.19) 0px 9px 26px 0px;
        padding: 1px 0px;
    }
}
